@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "Readex Pro", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto h-full px-8 lg:px-36;
}

.btn {
  @apply bg-orange-300 hover:bg-orange-400 py-3 px-12 rounded-md text-yellow-900 uppercase font-normal transition duration-300 ease-in-out w-64 text-sm;
}

.btn-dark {
  @apply bg-gray-900 hover:bg-gray-800 py-3 px-12 rounded-md text-white uppercase font-normal transition duration-300 ease-in-out w-64 text-sm;
}

.btn-add {
  @apply bg-slate-700 hover:bg-slate-800 py-3 px-12 rounded-md text-white capitalize font-light transition duration-300 ease-in-out;
}

.title {
  @apply text-3xl font-bold text-slate-700  text-center py-14;
}

.product:hover header div {
  @apply visible opacity-100;
}

/* Navbar */
.nav-item {
  @apply flex items-center justify-center;
}

.nav-link {
  @apply hover:text-orange-300 transition duration-300 ease-in-out font-light;
}

/* Sidebar */
.sidebar {
  @apply fixed left-0 top-0 z-50  h-screen w-full transition-all duration-300 ease-in-out overflow-hidden transform -translate-x-full invisible lg:hidden bg-gray-100;
}

.sidebar-show {
  @apply transform translate-x-0 visible opacity-100;
}

.checkmark {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
